body {
    padding: 0px;
    margin: 0px;
    font-family: Chalkduster, fantasy;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: white;
    background-color: black;
}

.title {
    display: flex;
    justify-content: center;
    padding: 25px;
    font-size: 20px;
}

.container {
    display: flex;
    justify-content: center;
    padding: 0px 20px;
}

.board {
    display: grid;
    justify-content: center;
    flex-direction: column;
    width: 120vh;
    height: 80vh;
    background-color: #346b31;
    border-radius: 20px;
    border-color: #C19A6B;
    border-style: solid;
    border-width: 40px;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    font-size: 50px;
    padding: 40px;
}

.button {
    font-size: 20px;
    font-family: Chalkduster, fantasy;
    border-style: none;
    border-radius: 15px;
    width: 200px;
    height: 40px;
    transition: 100ms;
    cursor: pointer;
}

.button:hover {
    transform: scale(1.2);
}

.footer {
    background-color: #346b31;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    color: white;
    margin-top: auto;
    font-weight: bold;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    text-decoration: underline;
}